
@{
    ViewBag.Title = "Returns";
}

<main>
    <!-- Breadcrumb -->
    <div class="py-3 bg-gray-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 my-2">
                    <h1 class="m-0 h4 text-center text-lg-start">Returns</h1>
                </div>
                <div class="col-lg-6 my-2">
                    <ol class="breadcrumb m-0 small justify-content-center justify-content-lg-end">
                        <li class="breadcrumb-item">
                            <a class="text-nowrap text-reset" href="~/">
                                <i class="fa-solid fa-home"></i>Home
                            </a>
                        </li>
                        <li class="breadcrumb-item text-nowrap active" aria-current="page">Returns</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->
    <!-- Section -->
    <section class="section">
        <div class="container">
            <h2 class="h4 mb-4">Deepti Pencil Arts</h2>
            <div class="page-content-body">
                <div data-content-region="page_builder_content--global"></div>
                <div data-content-region="page_builder_content"></div>

                <div class="shogun-root" data-shogun-id="5ae5a80be78aa40047268e32" data-shogun-site-id="f6de3990-8bf3-4907-a5b6-84f32bfae61e" data-shogun-page-id="5ae5a80be78aa40047268e32" data-shogun-page-version-id="5fec35f7909d46004f63cbd2" data-shogun-platform-type="big_commerce" data-shogun-variant-id="5fec35f7909d46004f63cbd9" data-region="main">
                    <link rel="stylesheet" type="text/css" href="https://cdn.getshogun.com/5fec35f7909d46004f63cbd9.css">


                    <div id="s-ab308929-e283-4b5c-9f4d-31025fe626dc" class="shg-c  ">
                        <div class="shg-rich-text shg-theme-text-content">
                            <p>Please note there has been a change to our return policy owing to COVID19 crisis. There have been few things that we can't control, hence we require our kind cooperation in those situations. Specially when there is a lockdown/restriction in your or our area/town/city/country. Please read below article to check more details.</p>
                            <p class="p1"><a href="https://www.Deepti Pencil Arts.com/covid19impact">https://www.Deepti Pencil Arts.com/covid19impact</a></p>
                            <p class="p1">Return requests are not accepted for below situations currently.</p>
                            <ol class="ol1">
                                <li class="li1">Cancellation / refund of a customised size handmade painting that is already made, but unable to ship or delayed in transit</li>
                                <li class="li1">Cancellation / refund request of artwork that is already printed, but unable to ship or delayed in transit</li>
                                <li class="li1">Cancellation / refund request of artwork that is already framed, but unable to ship or delayed in transit</li>
                                <li class="li1">Cancellation / refund request of portrait that is already made, but unable to ship or delayed in transit</li>
                                <li class="li1">Cancellation / refund requests for orders already shipped or delayed in transit</li>
                                <li class="li1">Cancellation / refund requests for orders delayed due to lockdown/restrictions in your location</li>
                            </ol>
                            <p class="p2">If you raise cancellation requests within 2 hours of placing the order, we will accept those requests. If artist has not begin work on your project, or if we have not printed the canvas, or framed the artwork - then we can accept cancellations after few days after order as well. Handmade paintings in default size and unframed, can be cancelled anytime, if not shipped.</p>
                        </div>

                    </div>

                    <div id="s-25e1c7ca-ca04-4594-af74-28374ed7b534" class="shg-c  ">
                        <div class="shg-rich-text shg-theme-text-content"><p><strong>For artworks delivered in  India</strong>. <br><br>We have a very flexible and friendly 15-days returns policy. We stick to our no-questions asked policy, and our staff will never ask you why you wish to return the painting, when you have to. Please note we accept return requests only for unframed paintings delivered in India.  Customers must raise return request within 15 days post delivery of the shipment. We do not accept return requests for framed paintings. <br><br><strong>For artworks delivered outside India.</strong><br><br>We do not accept return requests for paintings delivered outside India owing to customs/shipping complications in bringing them back. In order to give a clearer picture on what to expect, International customers can request us for additional images of the artwork before we ship, by sending us an email on sales@Deepti Pencil Arts.com after the order is placed.  Once the painting is about to be shipped, we will take hi-res images and send to you for approval. We will ship only when you approve.  You can also raise refund request at this stage if you find painting not matching your expectations. Please note images are not shared for customised prints or prints as no difference is expected there. Refunds are only issued for default size paintings. For custom size hand paintings, we will revise the artwork based on your feedback until you are satisfied.<br><br><strong>Return Process</strong><br><br>If eligible for returns, you can raise return request in your Deepti Pencil Arts account, or you can also drop us an email mentioning which items you would like to return. Our staff will provide packing instructions and arrange pickup of the artwork from your home.  If you had paid online using cards / online banking - we will refund to the same account. If you had paid using NEFT/RTGS - we will ask you for your bank account number and IFSC code for processing refunds. We do not levy any return fee.<br><br><strong>Returns for Customized Artworks</strong><br><br>Returns are not accepted for Custom Sized Artworks irrespective of whether its ordered framed or unframed, delivered in India or outside India. However customers can request for additional images to be emailed before shipping.  Our artists will revise the painting if needed, based on your inputs and until you are satisfied with the outcome.<br><br><strong>For Lost / Damaged Shipments</strong><br><br>In rare case of lost shipments, we will offer full refunds irrespective of the delivery location or framing state.<br><br>In rare case of delivery of damaged artwork or frames, we will offer refund amounts based on the condition of the same. This will be taken case on case basis once reported to us.</p></div>

                    </div>


                </div>



                <div data-content-region="page_builder_bottom"></div>
                <div data-content-region="page_builder_bottom--global"></div>
            </div>
        </div>
    </section>
    <!-- End Section -->
</main>

