
@{
    ViewBag.Title = "Shipping - Packaging";
}

<main>
    <!-- Breadcrumb -->
    <div class="py-3 bg-gray-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 my-2">
                    <h1 class="m-0 h4 text-center text-lg-start">Shipping - Packaging</h1>
                </div>
                <div class="col-lg-6 my-2">
                    <ol class="breadcrumb m-0 small justify-content-center justify-content-lg-end">
                        <li class="breadcrumb-item">
                            <a class="text-nowrap text-reset" href="~/">
                                <i class="fa-solid fa-home"></i>Home
                            </a>
                        </li>
                        <li class="breadcrumb-item text-nowrap active" aria-current="page">Shipping - Packaging</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->
    <!-- Section -->
    <section class="section">
        <div class="container">
            <h2 class="h4 mb-4">Deepti Pencil Arts</h2>
            <div class="page-content-body">
                <div data-content-region="page_builder_content--global"></div>
                <div data-content-region="page_builder_content"></div>

                <div class="shogun-root" data-shogun-id="5ae5a80de78aa4006226a226" data-shogun-site-id="f6de3990-8bf3-4907-a5b6-84f32bfae61e" data-shogun-page-id="5ae5a80de78aa4006226a226" data-shogun-page-version-id="5fb3202e28747c004eb5d94c" data-shogun-platform-type="big_commerce" data-shogun-variant-id="5fb3202e28747c004eb5d94f" data-region="main">
                    <link rel="stylesheet" type="text/css" href="https://cdn.getshogun.com/5fb3202e28747c004eb5d94f.css">


                    <div id="s-26d83d08-13e8-4885-91f2-cbc94641c0df" class="shg-c  ">
                        <div class="shg-rich-text shg-theme-text-content">
                            <p><strong>Shipping in India</strong><br><br>We offer free shipping for both rolled and framed paintings all over India.  We only work with reputed courier partners like Bluedart and FedEx for domestic deliveries. Delivery timeframe is mentioned on each painting page. <br><br>We deliver to 99.4% locations in India. Some locations which are remote may attract special delivery charges. Our customer care will connect to you in this case once order is placed.</p>
                            <p><br><strong>Shipping outside India</strong><br><br>We ship unframed artworks to all countries of the world. We request our international customers to frame the artwork locally in their country to save on shipping costs. Delivery time for regular destinations like USA, Canada, UK, Australia, All of Europe, Malaysia, Singapore, Gulf is around 3-5 days more than the mentioned timeframe in painting details.  For other destinations it might take around 7-10 days more. We always strive to deliver earlier than what is mentioned. Please note time taken for custom clearance is neither in our control or our courier partner's control, hence delivery time can increase if customs holds the shipment for any reason. We charge a flat shipping fee of $22 per painting. For customized paintings in bigger sizes we will provide shipping quote based on the same.<br><br>International customers must note that our costs do not cover Custom Clearance Fees and Custom Duties. If applicable, these charges would be collected by the courier partner at the time of delivery, or they might connect to you before delivery, for payments. These charges vary from country to country and subject to frequent changes - hence we can't give you an estimate of the same. However these are quite nominal and shouldn't break the bank.  As we usually use FedEx/UPS/DHL for international deliveries you can connect to their customer care in your country and take further information.</p>
                            <p><br><strong>Packaging</strong><br><br>We process military grade packaging for all our shipments, so that they could absorb jerks and stack weight in the transit, - and reach you in safe and sound condition. Painting rolls are put in hard protective tubes and sealed at ends. We make custom 25mm to 40mm thick walled (depending on size) thermocol boxes for each frame, which is again wrapped with 6-8 layers of double layered bubble sheets. Gift wrapping is also available on request for free.<br><br>In rare case, if any of the artwork is lost or damaged in transit - we will happily offer you refunds. If the frame is delivered damaged we will offer full refund of framing charges.</p>
                        </div>

                    </div>


                </div>



                <div data-content-region="page_builder_bottom"></div>
                <div data-content-region="page_builder_bottom--global"></div>
            </div>
        </div>
    </section>
    <!-- End Section -->
</main>

