
@{
    ViewBag.Title = "Terms";
}

<main>
    <!-- Breadcrumb -->
    <div class="py-3 bg-gray-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 my-2">
                    <h1 class="m-0 h4 text-center text-lg-start">Terms</h1>
                </div>
                <div class="col-lg-6 my-2">
                    <ol class="breadcrumb m-0 small justify-content-center justify-content-lg-end">
                        <li class="breadcrumb-item">
                            <a class="text-nowrap text-reset" href="~/">
                                <i class="fa-solid fa-home"></i>Home
                            </a>
                        </li>
                        <li class="breadcrumb-item text-nowrap active" aria-current="page">Terms of use</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->
    <!-- Section -->
    <section class="section">
        <div class="container">
            <h2 class="h4 mb-4">Deepti Pencil Arts</h2>
            <div class="page-content-body">
                <div data-content-region="page_builder_content--global"></div>
                <div data-content-region="page_builder_content"></div>

                <p><span style="font-size: medium;"><span style="font-family: Verdana, sans-serif;">Subject to the terms and conditions of this Agreement, we (Deepti Pencil Arts Ecommerce Private Limited) hereby grant you a limited, revocable, non-transferable and non-exclusive license to access and use the Site by displaying it on your internet browser only for the purpose of shopping for personal items sold on the Site and not for any commercial use or use on behalf of any third party, except as explicitly permitted by us in advance. Any breach of this Agreement shall result in the immediate revocation of the license granted in this paragraph without notice to you.<br><br>Except as permitted in the paragraph above, you may not reproduce, distribute, display, sell, lease, transmit, create derivative works from, translate, modify, reverse-engineer, disassemble, decompile or otherwise exploit this Site or any portion of it unless expressly permitted by us in writing. You may not make any commercial use of any of the information provided on the Site or make any use of the Site for the benefit of another business unless explicitly permitted by us in advance. We reserve the right to refuse service, terminate accounts, and/or cancel orders at its discretion, including, without limitation, if we believe that customer conduct violates applicable law or is harmful to our interests.<br><br>All text, graphics, button icons, audio clips, and software (collectively, "Content"), belongs exclusively to Deepti Pencil Arts Ecommerce Private Limited. The collection, arrangement, and assembly of all Content on this Site (the "Compilation") belongs exclusively to Deepti Pencil Arts.com. or its affiliates. All software used on this Site (the "Software") is the property of Deepti Pencil Arts.com., its affiliates or its Software suppliers. The Content, the Compilation and the Software are all protected by Indian. and international copyright laws. Deepti Pencil Arts.COM, Deepti Pencil Arts.COM Yours Nirvana to Art (&amp; design) and other logos, slogans, trade names or words are registered trademarks, trademarks or service marks of Deepti Pencil Arts.com. and Affliates. The use of any of our trademarks or service marks without our express written consent is strictly prohibited. You may not use our trademarks or service marks in connection with any product or service in any way that is likely to cause confusion. You may not use our trademarks or service marks in any manner that disparages or discredits us. You may not use any of our trademarks or service marks in meta tags without prior explicit consent.</span></span></p>
                <p><span style="font-size: medium;"><span style="font-family: Verdana, sans-serif;"><span>All sizes mentioned in the website is to benefit the consumers for easy understanding. We encourage sizes to be both presented in CMS and Inches for benefit and understanding for Domestic and International Customers. Calculation used for Converting Inches to CMS is multiplying Inch Value by 2.54 Approx. We are open for suggestions that may help comply with rules and/or make it more easier for customers. For any such requests or similar suggestions, we encourage you to write to us at sales@Deepti Pencil Arts.com</span><span>&nbsp;</span></span></span></p>
                <p>&nbsp;</p>
                <p><span style="font-size: medium;"><span style="font-family: Verdana, sans-serif;">All disputes are subject to, and shall be settled in Pune Jurisdiction only.</span></span></p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>


                <div data-content-region="page_builder_bottom"></div>
                <div data-content-region="page_builder_bottom--global"></div>
            </div>
        </div>
    </section>
    <!-- End Section -->
</main>


