USE [master]
GO
/****** Object:  Database [dbdeeptiarts]    Script Date: 27-10-2023 12:36:00 ******/
CREATE DATABASE [dbdeeptiarts]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbdeeptiarts_data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\dbdeeptiarts_data.mdf' , SIZE = 8192KB , MAXSIZE = 256000KB , FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbdeeptiarts_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\dbdeeptiarts_log.ldf' , SIZE = 10240KB , MAXSIZE = 10240KB , FILEGROWTH = 2048KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbdeeptiarts].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbdeeptiarts]
GO
/****** Object:  User [dbh.sqldb.admin]    Script Date: 27-10-2023 12:36:01 ******/
CREATE USER [dbh.sqldb.admin] FOR LOGIN [dbh.sqldb.admin] WITH DEFAULT_SCHEMA=[dbh.sqldb.admin]
GO
/****** Object:  User [dbdeeptiadmin]    Script Date: 27-10-2023 12:36:01 ******/
CREATE USER [dbdeeptiadmin] FOR LOGIN [dbdeeptiadmin] WITH DEFAULT_SCHEMA=[dbdeeptiadmin]
GO
ALTER ROLE [db_owner] ADD MEMBER [dbh.sqldb.admin]
GO
ALTER ROLE [db_owner] ADD MEMBER [dbdeeptiadmin]
GO
/****** Object:  Schema [dbdeeptiadmin]    Script Date: 27-10-2023 12:36:01 ******/
CREATE SCHEMA [dbdeeptiadmin]
GO
/****** Object:  Schema [dbh.sqldb.admin]    Script Date: 27-10-2023 12:36:01 ******/
CREATE SCHEMA [dbh.sqldb.admin]
GO
/****** Object:  Table [dbo].[AboutDetailsTbl]    Script Date: 27-10-2023 12:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AboutDetailsTbl](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[cName] [nvarchar](max) NULL,
	[cLogo] [nvarchar](max) NULL,
	[cSliderImage1] [nvarchar](max) NULL,
	[cSliderImage2] [nvarchar](max) NULL,
	[cSliderImage3] [nvarchar](max) NULL,
	[cAbout] [nvarchar](max) NULL,
	[cAddress] [nvarchar](max) NULL,
	[cEmail] [nvarchar](max) NULL,
	[cMobile1] [nvarchar](max) NULL,
	[cMobile2] [nvarchar](max) NULL,
 CONSTRAINT [PK_AboutDetailsTbl] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AdminTbl]    Script Date: 27-10-2023 12:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminTbl](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[uName] [nvarchar](max) NULL,
	[uPassword] [nvarchar](max) NULL,
 CONSTRAINT [PK_AdminTbl] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BillingDetailsTbl]    Script Date: 27-10-2023 12:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillingDetailsTbl](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ShippingDetailsID] [int] NOT NULL,
	[OrderID] [int] NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Mobile] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[State] [nvarchar](max) NOT NULL,
	[District] [nvarchar](max) NOT NULL,
	[City] [nvarchar](max) NOT NULL,
	[Town] [nvarchar](max) NOT NULL,
	[PostCode] [int] NOT NULL,
	[OrderNote] [nvarchar](max) NOT NULL,
	[status] [bit] NOT NULL,
	[rts] [date] NOT NULL,
 CONSTRAINT [PK_BillingDetailsTbl] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CartTbl]    Script Date: 27-10-2023 12:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartTbl](
	[CartID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[FrameID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Size] [int] NOT NULL,
	[status] [bit] NOT NULL,
	[rts] [date] NOT NULL,
 CONSTRAINT [PK_CartTbl] PRIMARY KEY CLUSTERED 
(
	[CartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[city]    Script Date: 27-10-2023 12:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[city](
	[id] [int] NOT NULL,
	[name] [nvarchar](max) NULL,
	[districtid] [int] NULL,
	[state_id] [int] NULL,
	[description] [nvarchar](max) NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_city] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ContactEnquiryTbl]    Script Date: 27-10-2023 12:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactEnquiryTbl](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[uname] [nvarchar](max) NULL,
	[umob] [nvarchar](max) NULL,
	[uemail] [nvarchar](max) NULL,
	[usub] [nvarchar](max) NULL,
	[umsg] [nvarchar](max) NULL,
	[rts] [date] NULL,
 CONSTRAINT [PK_ContactEnquiryTbl] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[district]    Script Date: 27-10-2023 12:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[district](
	[districtid] [int] NOT NULL,
	[district_title] [nvarchar](max) NULL,
	[state_id] [int] NULL,
	[district_description] [nvarchar](max) NULL,
	[district_status] [bit] NULL,
 CONSTRAINT [PK_district] PRIMARY KEY CLUSTERED 
(
	[districtid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FrameTbl]    Script Date: 27-10-2023 12:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FrameTbl](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FrameName] [nvarchar](max) NOT NULL,
	[FrameImage] [nvarchar](max) NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_FrameTbl] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MainCategoryTbl]    Script Date: 27-10-2023 12:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MainCategoryTbl](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](max) NOT NULL,
	[CategoryImage] [nvarchar](max) NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_MainCategoryTbl] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderDetailsTbl]    Script Date: 27-10-2023 12:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetailsTbl](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[FrameID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Size] [int] NOT NULL,
 CONSTRAINT [PK_OrderDetailsTbl] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderTbl]    Script Date: 27-10-2023 12:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderTbl](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderNumber] [nvarchar](max) NOT NULL,
	[BillingID] [int] NOT NULL,
	[ShippingID] [int] NOT NULL,
	[CustomerID] [int] NOT NULL,
	[TotalAmount] [int] NOT NULL,
	[PaymentStatus] [nvarchar](max) NOT NULL,
	[OrderDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_OrderTbl] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OurTeamTbl]    Script Date: 27-10-2023 12:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OurTeamTbl](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[about] [nvarchar](max) NOT NULL,
	[image] [nvarchar](max) NOT NULL,
	[testimonialReview] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_OurTeamTbl] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PrebookingTbl]    Script Date: 27-10-2023 12:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrebookingTbl](
	[PrebookingID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[FrameID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Size] [int] NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Mobile] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[State] [nvarchar](max) NOT NULL,
	[District] [nvarchar](max) NOT NULL,
	[City] [nvarchar](max) NOT NULL,
	[Town] [nvarchar](max) NOT NULL,
	[PostCode] [int] NOT NULL,
	[OrderNote] [nvarchar](max) NOT NULL,
	[status] [bit] NOT NULL,
	[rts] [date] NOT NULL,
 CONSTRAINT [PK_PrebookingTbl] PRIMARY KEY CLUSTERED 
(
	[PrebookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductEnquiryTbl]    Script Date: 27-10-2023 12:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductEnquiryTbl](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PId] [int] NOT NULL,
	[uname] [nvarchar](max) NULL,
	[umob] [nvarchar](max) NULL,
	[uemail] [nvarchar](max) NULL,
	[usub] [nvarchar](max) NULL,
	[umsg] [nvarchar](max) NULL,
	[rts] [date] NULL,
 CONSTRAINT [PK_ProductEnquiryTbl] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductTbl]    Script Date: 27-10-2023 12:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductTbl](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CId] [int] NOT NULL,
	[CatName] [nvarchar](max) NOT NULL,
	[SCId] [int] NOT NULL,
	[SubcatName] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Image] [nvarchar](max) NOT NULL,
	[Details] [nvarchar](max) NOT NULL,
	[Price] [int] NOT NULL,
	[status] [bit] NOT NULL,
	[rts] [date] NOT NULL,
	[GrossPrice] [int] NULL,
 CONSTRAINT [PK_ProductTbl] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RegisteredUsersTbl]    Script Date: 27-10-2023 12:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegisteredUsersTbl](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[First_Name] [nvarchar](max) NULL,
	[Last_Name] [nvarchar](max) NULL,
	[UserName] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[State] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Mobile] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[rts] [date] NULL,
 CONSTRAINT [PK_RegisteredUsersTbl] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ReviewTable]    Script Date: 27-10-2023 12:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReviewTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[productid] [int] NOT NULL,
	[title] [nvarchar](max) NOT NULL,
	[comment] [nvarchar](max) NOT NULL,
	[rating] [int] NOT NULL,
	[profilephoto] [nvarchar](max) NULL,
	[username] [nvarchar](max) NOT NULL,
	[useremail] [nvarchar](max) NOT NULL,
	[status] [bit] NOT NULL,
	[rts] [datetime] NOT NULL,
 CONSTRAINT [PK_ReviewTable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ShippingDetailsTbl]    Script Date: 27-10-2023 12:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShippingDetailsTbl](
	[ShippingID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Mobile] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[State] [nvarchar](max) NOT NULL,
	[District] [nvarchar](max) NOT NULL,
	[City] [nvarchar](max) NOT NULL,
	[Town] [nvarchar](max) NOT NULL,
	[PostCode] [int] NOT NULL,
	[OrderNote] [nvarchar](max) NOT NULL,
	[status] [bit] NOT NULL,
	[rts] [date] NOT NULL,
 CONSTRAINT [PK_ShippingDetailsTbl] PRIMARY KEY CLUSTERED 
(
	[ShippingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[state]    Script Date: 27-10-2023 12:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[state](
	[state_id] [int] NOT NULL,
	[state_title] [nvarchar](max) NULL,
	[state_description] [nvarchar](max) NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_state] PRIMARY KEY CLUSTERED 
(
	[state_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SubCategoryTbl]    Script Date: 27-10-2023 12:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubCategoryTbl](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CID] [int] NOT NULL,
	[CatName] [nvarchar](max) NOT NULL,
	[SubCategoryName] [nvarchar](max) NOT NULL,
	[SubCategoryImage] [nvarchar](max) NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_SubCategoryTbl] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WishlistTbl]    Script Date: 27-10-2023 12:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WishlistTbl](
	[WishlistID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[FrameID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Size] [int] NOT NULL,
	[status] [bit] NOT NULL,
	[rts] [date] NOT NULL,
 CONSTRAINT [PK_WishlistTbl] PRIMARY KEY CLUSTERED 
(
	[WishlistID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[AboutDetailsTbl] ON 

SET IDENTITY_INSERT [dbo].[AboutDetailsTbl] OFF
SET IDENTITY_INSERT [dbo].[AdminTbl] ON 

INSERT [dbo].[AdminTbl] ([Id], [uName], [uPassword]) VALUES (1, N'AdminDeeptiArts', N'da2023')
SET IDENTITY_INSERT [dbo].[AdminTbl] OFF
SET IDENTITY_INSERT [dbo].[CartTbl] ON 

INSERT [dbo].[CartTbl] ([CartID], [CustomerID], [ProductID], [FrameID], [Quantity], [Size], [status], [rts]) VALUES (22, 4, 2, 1, 3, 6, 1, CAST(N'2023-10-14' AS Date))
INSERT [dbo].[CartTbl] ([CartID], [CustomerID], [ProductID], [FrameID], [Quantity], [Size], [status], [rts]) VALUES (24, 5, 3, 1, 1, 6, 1, CAST(N'2023-10-22' AS Date))
SET IDENTITY_INSERT [dbo].[CartTbl] OFF
INSERT [dbo].[city] ([id], [name], [districtid], [state_id], [description], [status]) VALUES (676, N'Kupwara', 47, 15, N'', 1)
INSERT [dbo].[city] ([id], [name], [districtid], [state_id], [description], [status]) VALUES (677, N'Handwara', 47, 15, N'', 1)
INSERT [dbo].[city] ([id], [name], [districtid], [state_id], [description], [status]) VALUES (678, N'Karnah', 47, 15, N'', 1)
GO
SET IDENTITY_INSERT [dbo].[ContactEnquiryTbl] ON 

INSERT [dbo].[ContactEnquiryTbl] ([Id], [uname], [umob], [uemail], [usub], [umsg], [rts]) VALUES (1, N'Mr HAcker', N'9807654321', N'hack@gmail.com', N'Testing this', N'try', CAST(N'2023-10-25' AS Date))
INSERT [dbo].[ContactEnquiryTbl] ([Id], [uname], [umob], [uemail], [usub], [umsg], [rts]) VALUES (2, N'John Doe', N'1234567890', N'johndoe@example.com', N'Product Inquiry', N'I''m interested in learning more about your products. Can you provide me with pricing information and product details?', CAST(N'2023-10-25' AS Date))
INSERT [dbo].[ContactEnquiryTbl] ([Id], [uname], [umob], [uemail], [usub], [umsg], [rts]) VALUES (3, N'Om Sharma', N'8999292525', N'omsharma9367@gmail.com', N'Test enq for info@deeptiarts.databoltahai.in', N'Test enq for info@deeptiarts.databoltahai.inTest enq for info@deeptiarts.databoltahai.in', CAST(N'2023-10-25' AS Date))
SET IDENTITY_INSERT [dbo].[ContactEnquiryTbl] OFF
INSERT [dbo].[district] ([districtid], [district_title], [state_id], [district_description], [district_status]) VALUES (36, N'Anantnag', 15, N'', 1)
INSERT [dbo].[district] ([districtid], [district_title], [state_id], [district_description], [district_status]) VALUES (37, N'Bandipore', 15, N'', 1)
INSERT [dbo].[district] ([districtid], [district_title], [state_id], [district_description], [district_status]) VALUES (38, N'Baramulla', 15, N'', 1)
GO
SET IDENTITY_INSERT [dbo].[FrameTbl] ON 

INSERT [dbo].[FrameTbl] ([Id], [FrameName], [FrameImage], [status]) VALUES (1, N'Wooden', N'FrameImage1.png', 1)
INSERT [dbo].[FrameTbl] ([Id], [FrameName], [FrameImage], [status]) VALUES (2, N'Golden', N'FrameImage2.png', 1)
INSERT [dbo].[FrameTbl] ([Id], [FrameName], [FrameImage], [status]) VALUES (3, N'Wooden Thin', N'FrameImage3.png', 1)
SET IDENTITY_INSERT [dbo].[FrameTbl] OFF
SET IDENTITY_INSERT [dbo].[MainCategoryTbl] ON 

INSERT [dbo].[MainCategoryTbl] ([Id], [CategoryName], [CategoryImage], [status]) VALUES (1, N'Sketch', N'MainCategoryImage1.jpeg', 1)
INSERT [dbo].[MainCategoryTbl] ([Id], [CategoryName], [CategoryImage], [status]) VALUES (2, N'Mandala Art', N'MainCategoryImage2.jpeg', 1)
INSERT [dbo].[MainCategoryTbl] ([Id], [CategoryName], [CategoryImage], [status]) VALUES (3, N'Coloured', N'MainCategoryImage3.jpeg', 1)
SET IDENTITY_INSERT [dbo].[MainCategoryTbl] OFF
SET IDENTITY_INSERT [dbo].[OurTeamTbl] ON 

INSERT [dbo].[OurTeamTbl] ([Id], [name], [about], [image], [testimonialReview]) VALUES (3, N'Om Sharma / Web Developer', N'Om Sharma is the coder / programmer / software developer and the programmer of this web.', N'3.jpg', N'The Painting was awesome, hand-painted on a canvas. Got the certificate of authenticity signed by the Artist. It was delivered to USA in 7 days after the order was placed and was updated about the shipment constantly.')
SET IDENTITY_INSERT [dbo].[OurTeamTbl] OFF
SET IDENTITY_INSERT [dbo].[PrebookingTbl] ON 

INSERT [dbo].[PrebookingTbl] ([PrebookingID], [CustomerID], [ProductID], [FrameID], [Quantity], [Size], [FirstName], [LastName], [Email], [Mobile], [Address], [State], [District], [City], [Town], [PostCode], [OrderNote], [status], [rts]) VALUES (1, 3, 11, 1, 1, 6, N'Om', N'Sharma', N'omsharma9367@gmail.com', N'8999292525', N'Shop 211, Ahinsa Tower, Gandhi Nagar, Textile Market, Bhilwara', N'Rajasthan', N'Dholpur', N'Bari', N'Bhilwara', 311001, N'This is the final testing from shirpur', 1, CAST(N'2023-10-26' AS Date))
INSERT [dbo].[PrebookingTbl] ([PrebookingID], [CustomerID], [ProductID], [FrameID], [Quantity], [Size], [FirstName], [LastName], [Email], [Mobile], [Address], [State], [District], [City], [Town], [PostCode], [OrderNote], [status], [rts]) VALUES (2, 3, 3, 1, 1, 6, N'Om', N'Sharma', N'omsharma9367@gmail.com', N'8999292525', N'Shop 211, Ahinsa Tower, Gandhi Nagar, Textile Market, Bhilwara', N'Rajasthan', N'Dholpur', N'Bari', N'Bhilwara', 311001, N'This is the final testing from shirpur', 1, CAST(N'2023-10-26' AS Date))
INSERT [dbo].[PrebookingTbl] ([PrebookingID], [CustomerID], [ProductID], [FrameID], [Quantity], [Size], [FirstName], [LastName], [Email], [Mobile], [Address], [State], [District], [City], [Town], [PostCode], [OrderNote], [status], [rts]) VALUES (3, 3, 11, 1, 1, 6, N'Om', N'Sharma', N'omsharma9367@gmail.com', N'8999292525', N'Shop 211, Ahinsa Tower, Gandhi Nagar, Textile Market, Bhilwara', N'Maharashtra', N'Kolhapur', N'Panhala', N'Bhilwara', 311001, N'Deliver ASAP', 1, CAST(N'2023-10-26' AS Date))
SET IDENTITY_INSERT [dbo].[PrebookingTbl] OFF
SET IDENTITY_INSERT [dbo].[ProductEnquiryTbl] ON 

INSERT [dbo].[ProductEnquiryTbl] ([Id], [PId], [uname], [umob], [uemail], [usub], [umsg], [rts]) VALUES (1, 32, N'Om Sharma', N'8999292525', N'omsharma9367@gmail.com', N'om-namah-shivay-sketch info', N'i am interested in buying your art - om-namah-shivay-sketch
', CAST(N'2023-10-26' AS Date))
INSERT [dbo].[ProductEnquiryTbl] ([Id], [PId], [uname], [umob], [uemail], [usub], [umsg], [rts]) VALUES (2, 2, N'Om Sharma', N'8999292525', N'omsharma9367@gmail.com', N'want details about swastika artwork', N'give me details', CAST(N'2023-10-26' AS Date))
SET IDENTITY_INSERT [dbo].[ProductEnquiryTbl] OFF
SET IDENTITY_INSERT [dbo].[ProductTbl] ON 

INSERT [dbo].[ProductTbl] ([Id], [CId], [CatName], [SCId], [SubcatName], [Name], [Image], [Details], [Price], [status], [rts], [GrossPrice]) VALUES (1, 1, N'Sketch', 1, N'Hinduism', N'Mahadev Sketch', N'ProductImage1.jpeg', N'Capture the divine strength and serenity of Lord Shiva with our meticulously detailed Shiv Ji sketch. With intricate lines and vibrant shades, this artwork embodies the cosmic energy and meditative grace of the deity. A mesmerizing addition to your spiritual art collection.', 2499, 1, CAST(N'2023-08-31' AS Date), 5000)
INSERT [dbo].[ProductTbl] ([Id], [CId], [CatName], [SCId], [SubcatName], [Name], [Image], [Details], [Price], [status], [rts], [GrossPrice]) VALUES (2, 2, N'Sketch', 5, N'Hinduism', N'Swastika', N'ProductImage2.jpeg', N'Swastika', 2499, 1, CAST(N'2023-08-31' AS Date), 5000)
SET IDENTITY_INSERT [dbo].[ProductTbl] OFF
SET IDENTITY_INSERT [dbo].[RegisteredUsersTbl] ON 

INSERT [dbo].[RegisteredUsersTbl] ([Id], [First_Name], [Last_Name], [UserName], [Password], [State], [City], [Email], [Mobile], [Address], [rts]) VALUES (3, N'Om', N'Sharma', N'omsharma', N'@1Ommm', N'Rajasthan', N'Bhilwara', N'omopyt2020@gmail.com', N'8999292525', N'Sanjay Colony', CAST(N'2023-09-30' AS Date))
INSERT [dbo].[RegisteredUsersTbl] ([Id], [First_Name], [Last_Name], [UserName], [Password], [State], [City], [Email], [Mobile], [Address], [rts]) VALUES (4, NULL, NULL, N'goswamivikash078@gmail.com', N'Vikasgoswami@1', NULL, NULL, N'goswamivikash078@gmail.com', N'7850813223', NULL, CAST(N'2023-10-07' AS Date))
INSERT [dbo].[RegisteredUsersTbl] ([Id], [First_Name], [Last_Name], [UserName], [Password], [State], [City], [Email], [Mobile], [Address], [rts]) VALUES (5, NULL, NULL, N'caamit.heda@gmail.com', N'Amit@1982', NULL, NULL, N'caamit.heda@gmail.com', N'7021520017', NULL, CAST(N'2023-10-22' AS Date))
SET IDENTITY_INSERT [dbo].[RegisteredUsersTbl] OFF
SET IDENTITY_INSERT [dbo].[ReviewTable] ON 

INSERT [dbo].[ReviewTable] ([Id], [productid], [title], [comment], [rating], [profilephoto], [username], [useremail], [status], [rts]) VALUES (1, 1, N'Wonderfully Curated', N'Absolutely stunning artwork that adds an elegant touch to my living room decor. The attention to detail is exceptional, and I couldn''t be happier with this purchase.', 5, N'ReviewerProfileImage1.jpg', N'Om Sharma', N'omsharma@gmail.com', 0, CAST(N'2023-01-01 10:00:00.000' AS DateTime))
INSERT [dbo].[ReviewTable] ([Id], [productid], [title], [comment], [rating], [profilephoto], [username], [useremail], [status], [rts]) VALUES (2, 2, N'Beautiful Art Piece', N'This artwork is a masterpiece that speaks to the soul. The artist''s skill and creativity are truly commendable. It''s a great addition to my art collection.', 5, N'ReviewerProfileImage2.jpg', N'Shreya Singh', N'shreya@gmail.com', 0, CAST(N'2023-01-02 10:00:00.000' AS DateTime))
INSERT [dbo].[ReviewTable] ([Id], [productid], [title], [comment], [rating], [profilephoto], [username], [useremail], [status], [rts]) VALUES (3, 3, N'Masterpiece', N'I am absolutely in love with this painting. It''s an exquisite piece of art that brings joy to my heart every time I look at it. Highly recommended to all art lovers!', 5, N'ReviewerProfileImage3.jpg', N'Amit Patel', N'amit@gmail.com', 0, CAST(N'2023-01-03 10:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[ReviewTable] OFF
INSERT [dbo].[state] ([state_id], [state_title], [state_description], [status]) VALUES (1, N'Andaman & Nicobar Islands', N'', 1)
INSERT [dbo].[state] ([state_id], [state_title], [state_description], [status]) VALUES (2, N'Andhra Pradesh', N'', 1)
INSERT [dbo].[state] ([state_id], [state_title], [state_description], [status]) VALUES (3, N'Arunachal Pradesh', N'', 1)
SET IDENTITY_INSERT [dbo].[SubCategoryTbl] ON 

INSERT [dbo].[SubCategoryTbl] ([Id], [CID], [CatName], [SubCategoryName], [SubCategoryImage], [status]) VALUES (1, 1, N'Sketch', N'Hinduism', N'SubCategoryImage1.jpeg', 1)
INSERT [dbo].[SubCategoryTbl] ([Id], [CID], [CatName], [SubCategoryName], [SubCategoryImage], [status]) VALUES (2, 1, N'Sketch', N'Sikhism', N'SubCategoryImage2.jpeg', 1)
INSERT [dbo].[SubCategoryTbl] ([Id], [CID], [CatName], [SubCategoryName], [SubCategoryImage], [status]) VALUES (3, 1, N'Sketch', N'Budhhism', N'SubCategoryImage3.jpeg', 1)
SET IDENTITY_INSERT [dbo].[SubCategoryTbl] OFF
USE [master]
GO
