@model DeeptiArt.Models.RegisteredUsersTbl
@{
    ViewBag.Title = "forgot password";
}

<main>
    <!-- Breadcrumb -->
    <div class="py-3 bg-gray-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 my-2">
                    <h1 class="m-0 h4 text-center text-lg-start">Forgot Password</h1>
                </div>
                <div class="col-lg-6 my-2">
                    <ol class="breadcrumb dark-link m-0 small justify-content-center justify-content-lg-end">
                        <li class="breadcrumb-item">
                            <a class="text-nowrap" href="~/">
                                <i class="fa-solid fa-home"></i>Home
                            </a>
                        </li>
                        <li class="breadcrumb-item text-nowrap active" aria-current="page">Forgot Password</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->
    <!-- login page -->
    <div class="section">
        <div class="container">
            <div class="justify-content-center row">
                <div class="col-lg-5 col-xxl-4">
                    <div class="card">
                        <div class="card-header bg-transparent py-3">
                            <h3 class="h4 mb-0">Enter Registered Email </h3>
                        </div>
                        <div class="card-body">
                            @using (Html.BeginForm("ForgotPassword", "login", FormMethod.Post, new { @id = "ForgotPasswordForm" }))
                            {
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group mb-3">
                                            <label for="Email" class="form-label">
                                                Email <span class="text-danger">*</span>
                                            </label>
                                            <input type="email" id="Email" name="Email" class="form-control" placeholder="Email">
                                        </div>
                                    </div>
                                </div>

                                <div class="row" id="otprow">
                                    <div class="col-md-12">
                                        <div class="form-group mb-3">
                                            <label for="verifyOTP" class="form-label">
                                                Enter 6-digit OTP sent to your Email <span class="text-danger">*</span>
                                            </label>
                                            <input type="text" id="verifyOTP" name="verifyOTP" class="form-control" placeholder="OTP">
                                        </div>
                                    </div>
                                </div>

                                <p id="LoginEmailAlertMsg" class="d-none response-msg-lbl"></p>
                                <p id="verifyOTPAlertMsg" class="d-none response-msg-lbl"></p>
                                <div id="countdown" style="display: none;"></div>
                                <div class="form-group row align-items-center">
                                    <div class="col">
                                        <button type="button" class="btn btn-primary btn-sm rounded-1" id="sendOTP"> Send OTP </button>
                                        <button type="button" class="btn btn-primary btn-sm rounded-1" id="verifyOTPSubmit"> Verify OTP </button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

