@{
    ViewBag.Title = "Reset Password";
}

<!-- Main -->
<main>
    <div class="section">
        <div class="container">
            <div class="justify-content-center row">
                <div class="col-lg-5 col-xxl-4">
                    <div class="card">
                        <div class="card-header bg-transparent py-3">
                            <h3 class="h4 mb-0">Password</h3>
                        </div>
                        <div class="card-body">
                            @using (Html.BeginForm("ResetPassword", "login", FormMethod.Post, new { id = "ResetPasswordPasswordForm" }))
                            {
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group mb-3">
                                            <label class="form-label" for="Password">
                                                Please create a strong password that meets the following criteria:
                                                <span class="text-danger">*</span>
                                            </label>
                                            <p>6 characters, at least one number, at least one uppercase letter, and at least one special character (e.g., &#64;, #, etc.)<span class="text-danger">*</span></p>
                                            <input type="password" class="form-control" id="Password" name="Password" placeholder="*********">
                                        </div>
                                    </div>
                                </div>
                                <p id="resetPasswordAlertMsg" class="d-none response-msg-lbl"></p>
                                <p id="resetPasswordAlertMsgClientSide" class="text-danger"></p>
                                <div class="form-group row align-items-center">
                                    <div class="col">
                                        <button type="button" class="btn btn-primary btn-sm rounded-1" id="ResetPasswordPasswordSubmit"> Reset Password </button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


