@model DeeptiArt.Models.RegisteredUsersTbl
@{ 
    ViewBag.Title = "Change Password";
}
<main>
    <!-- Breadcrumb -->
    <!-- ... (your existing breadcrumb code) ... -->
    <!-- Table -->
    <div class="py-6">
        <div class="container">
            <div class="row">
                <!-- Profile Menu -->
                @Html.Partial("_ProfileMenu")
                <!-- Content -->
                <div class="col-lg-8 col-xxl-9">
                    <div class="card mb-5">
                        <div class="card-header py-3">
                            <h5 class="m-0">Change your password</h5>
                            <p class="form-label">
                                Please create a strong password that meets the following criteria:
                                <span class="text-danger">*</span>
                            </p>
                            <p>6 characters, at least one number, at least one uppercase letter, and at least one special character (e.g., @@, #, etc.)<span class="text-danger">*</span></p>
                        </div>
                        <div class="card-body">
                            @using (Html.BeginForm("ChangePassword", "user", FormMethod.Post, new { @id = "ChangePasswordFormMyAccount" }))
                            {
                                @Html.HiddenFor(model => model.Id)
                            <div class="row">
                                <div class="col-sm-12 mb-3">
                                    <div class="form-group">
                                        <label for="OldPassword" class="form-label">Old password</label>
                                        <input type="text" name="OldPassword" id="OldPassword" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <div class="form-group">
                                        <label for="NewPassword" class="form-label">New password</label>
                                        <input type="text" name="NewPassword" id="NewPassword" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <div class="form-group">
                                        <label for="ConfirmPassword" class="form-label">Retype new password</label>
                                        <input type="text" name="ConfirmPassword" id="ConfirmPassword" class="form-control">
                                    </div>
                                </div>

                                <p id="accountprofilelbl" class="d-none response-msg-lbl">Password changed</p>

                                <div class="col-12 pt-2">
                                    <button type="submit" class="btn btn-primary py-2 px-4 rounded-1">Change password</button>
                                </div>
                            </div>
                            }
                        </div>
                    </div>
                </div>
                <!-- End Content -->
            </div>
        </div>
    </div>
    <!-- End Table -->
</main>